@{
	ViewData["Title"] = "GOT";
	Layout = "~/Views/Shared/_ActivitiesLayout.cshtml";
}

<div class="content-header row">
	<div class="content-header-left col-md-4 col-12 mb-2">
		<h3 class="content-header-title">Bootstrap Cards</h3>
	</div>
	<div class="content-header-right col-md-8 col-12">
		<div class="breadcrumbs-top float-md-right">
			<div class="breadcrumb-wrapper mr-1">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active">
						Cards
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="content-body">
	<!-- ../../../theme-assets/images/carousel/22.jpg -->
	<!-- Text Alignment section start -->
	<section id="text-alignments">

		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Text Align Left</h4>
						<p class="card-text">
							Jelly beans sugar plum cheesecake cookie oat cake soufflé.Tootsie roll bonbon liquorice tiramisu pie powder.Donut sweet
							roll marzipan pastry cookie cake tootsie roll oat cake cookie.
						</p>
						<p class="card-text">
							Sweet roll marzipan pastry halvah. Cake bear claw sweet. Tootsie roll pie marshmallow lollipop chupa chups donut fruitcake
							cake.Jelly beans sugar plum cheesecake cookie oat cake soufflé. Tart lollipop carrot cake sugar plum. Marshmallow wafer
							tiramisu jelly beans.
						</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="card text-center">
					<div class="card-body">
						<h4 class="card-title">Text Align Center</h4>
						<p class="card-text">
							Jelly beans sugar plum cheesecake cookie oat cake soufflé.Tootsie roll bonbon liquorice tiramisu pie powder.Donut sweet
							roll marzipan pastry cookie cake tootsie roll oat cake cookie.
						</p>
						<p class="card-text">
							Sweet roll marzipan pastry halvah. Cake bear claw sweet. Tootsie roll pie marshmallow lollipop chupa chups donut fruitcake
							cake.Jelly beans sugar plum cheesecake cookie oat cake soufflé. Tart lollipop carrot cake sugar plum. Marshmallow wafer
							tiramisu jelly beans.
						</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="card text-right">
					<div class="card-body">
						<h4 class="card-title">Text Align Right</h4>
						<p class="card-text">
							Jelly beans sugar plum cheesecake cookie oat cake soufflé.Tootsie roll bonbon liquorice tiramisu pie powder.Donut sweet
							roll marzipan pastry cookie cake tootsie roll oat cake cookie.
						</p>
						<p class="card-text">
							Sweet roll marzipan pastry halvah. Cake bear claw sweet. Tootsie roll pie marshmallow lollipop chupa chups donut fruitcake
							cake.Jelly beans sugar plum cheesecake cookie oat cake soufflé. Tart lollipop carrot cake sugar plum. Marshmallow wafer
							tiramisu jelly beans.
						</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Text Alignment section end -->
	<!-- Card Headings section start -->
	<section id="card-headings">
		<div class="row">
			<div class="col-12 mt-3 mb-1">
				<h4 class="text-uppercase">Card Headings</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="card text-center">
					<div class="card-header">
						Featured
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title" id="heading-multiple-thumbnails">Multiple Thumbnail</h4>
						<a class="heading-elements-toggle">
							<i class="la la-ellipsis-v font-medium-3"></i>
						</a>
						<div class="heading-elements">
							<span class="avatar">
								<img src="theme-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
							</span>
							<span class="avatar">
								<img src="theme-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
							</span>
							<span class="avatar">
								<img src="theme-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
							</span>
						</div>
					</div>
					<div class="card-content">
						<div class="card-body">
							<h4 class="card-title">Content title</h4>
							<p class="card-text">
								Jelly beans sugar plum cheesecake cookie oat cake soufflé.Tootsie roll bonbon liquorice tiramisu pie powder.Donut sweet
								roll marzipan pastry cookie cake tootsie roll oat cake cookie.
							</p>
							<p class="card-text">
								Sweet roll marzipan pastry halvah. Cake bear claw sweet. Tootsie roll pie marshmallow lollipop chupa chups donut fruitcake
								cake.Jelly beans sugar plum cheesecake cookie oat cake soufflé. Tart lollipop carrot cake sugar plum. Marshmallow
								wafer tiramisu jelly beans.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- // Card Headings section end -->
</div>


<!-- ////////////////////////////////////////////////////////////////////////////-->
