
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="~/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="#">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/theme-assets/images/logo/logo.png" />
                    <h3 class="brand-text">Socials</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active">
                <a asp-controller="Home" asp-action="Index"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="GameOfThroneQuote" asp-action="Index"><i class="ft-pie-chart"></i><span class="menu-title" data-i18n="">GOT Quotes</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="BoredomActivities" asp-action="Index"><i class="ft-droplet"></i><span class="menu-title" data-i18n="">Boredom Activities</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="MealScheduling" asp-action="Index"><i class="ft-layers"></i><span class="menu-title" data-i18n="">Meal Scheduling</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="SetupFood" asp-action="Index"><i class="ft-box"></i><span class="menu-title" data-i18n="">Setup Food</span></a>
            </li>
            <li class=" nav-item">
                <a href="typography.html"><i class="ft-bold"></i><span class="menu-title" data-i18n="">Typography</span></a>
            </li>
            <li class=" nav-item">
                <a href="tables.html"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Tables</span></a>
            </li>
            <li class=" nav-item">
                <a href="form-elements.html"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Form Elements</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="Auth" asp-action="Login"><i class="ft-book"></i><span class="menu-title" data-i18n="">Log Out</span></a>
            </li>
        </ul>
    </div>
    <div class="navigation-background"></div>
</div>
